doctype html
html(lang="en")
  head
    title Ebano Life | Как жизнь
  body
    #fullpage
     #slide
       iframea(width="100%" height="100%" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/b8HO6hba9ZE?autoplay=1")
    script(src="ebano.js")
